<div class="card">
    <div class="card-header bg-primary">
        {{pageTitle}}
    </div>

    <div class="card-body">
        <div class="row">
            <img src="./assets/logo.png" class="img-responsive"
                style="max-height: 300px;padding-bottom: 50px">
        </div>
    </div>
</div>

<div class="card">
    <div class="text-center">
        Developed By :
    </div>
    <h6 class="text-center">
        Jilu Elizebeth
    </h6>
    <div class="text-center">@jilElizebeth</div>
    <div class="text-center">
        <a href="#">www.elizebethebin.com</a>
    </div>
</div>